<div class="w-100 row mx-0">
    <div class="perfil-header w-100 h-100">
        <h1>Mi perfil</h1>
        <img class="perfil-foto" src="../../../assets/img/FIMEsores.png" alt="">
        <h3>Josue Fdz</h3>
        <div class="row justify-content-center">
            <div class="col-auto">
                <i class="bi bi-envelope"></i>
                <a href="">Coreo</a>
            </div>
            <div class="col-auto">
                <a href="">Facebook</a>
            </div>
            <div class="col-auto">
                <a href="">Instagram</a>
            </div>
            <div class="col-auto">
                <a href="">GitHub</a>
            </div>
        </div>
    </div>
    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta perferendis non earum maiores sunt in est esse incidunt repellat, mollitia repudiandae veritatis, unde molestiae! Optio aliquid ullam tempora iste. Ducimus?</p>
    </div>
</div>