<div class="inicio-background">
<div class="row w-75 text-color-black body">
    <div class="col-12 body-title">
        <h1> ¿Quienes somos? </h1>
    </div>
    <div class="col-12 body-text">
        <p> Somos un grupo de alumnos que busca darle a todos los alumnos una herramienta que los ayude a tener referencias de profesores antes de inscribir sus materias </p>
    </div>
    <div class="col-12">
        <button class="btn-FIMEprimary w-25" (click)="goNosotros()">Nosotros</button>
    </div>
</div>
</div>